.girisBody{
    background-color: rgb(182, 178, 178);
}

.girisContainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.girisContainer .card{
    padding: 50px;
    opacity: 0.7;
    width: 600px;
}

.iletisimBody{
    background-color: rgb(182, 178, 178);
}
.iletisimContainer{
    margin-top: 100px;
}

.iletisimContainer .card{
    padding: 50px;
    opacity: 0.75;
}

.mirasimizContainer .card{
    background-color: rgba(30, 32, 33, 0.658);
}

.mirasimizListe .card{
    padding: 5px;
    background-color: rgba(102, 255, 0, 0.329);
}

.mirasimizListe .card ul{
    opacity: 0.8;
    color :white;
    font-size: 25px;
}

