<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İletişim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">


  </head>


  <body class="iletisimBody">
    <div id="app">

        <nav class="navbar navbar-expand-lg bg-body bg-gradient fixed-top" data-bs-theme="dark" id="iletisimNav">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">Ana Sayfa</a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="ben.html">Hakkımda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sehrim.html">Şehrim</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="iletisim.html">İletişim</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="giris.html">Giriş Yap</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <section class="site-section">
              <div class="container  iletisimContainer" style="width: 500px;">
                    <div class="card">                      
                        <div class=" section-heading text-center">
                            <h1>İLETİŞİM</h1>
                        </div>
                            <form action="iletisim.php" method="POST" novalidate name="form">
                                <div class="form-group">
                                     <input id="isim" type="text" class="form-control text-center" placeholder="İsminizi Giriniz" name="isim" v-model="nameF">
                                </div>
                                <div class="form-group">
                                      <input id="soyisim" type="text" class="form-control text-center" placeholder="Soyisminizi Giriniz" name="soyisim" v-model = "surname">
                                </div>
                                <div class="form-group">
                                  <input type="text"  placeholder="Telefon Numaranızı Giriniz Or:05XXXXXXXXX" class="form-control text-center"  id="telefon" name="telefonNo" v-model="phoneNum">
                                </div>
                                <select class="form-control" name="cinsiyet" id="gender">
                                    <option class="text-center">Erkek</option>
                                    <option class="text-center">Kadın</option>
                                    <option class="text-center">Belirtmek İstemiyorum</option>
                                </select> 
                                <div class="form-group">
                                  <input type="text" name="emailIletisim" placeholder="Email Giriniz" class="form-control text-center" id="emaili" v-model="email">
                                </div>
                                <div class="mb-3">
                                  <textarea class="form-control text-center" id="textarea" name ="textAlani" placeholder="Mesajınız" rows="3" v-model="message" ></textarea>
                                </div>
                                 <button v-if="canGonder" type="submit" class="btn btn-outline-primary"style="width:100px" name="send" >Gönder</button>
                              </form>
                              <div class="d-flex justify-content-between">
                                <button v-on:click="clearTheForms()" type="submit" class="btn btn-outline-primary" style="width:100px" >Temizle</button>
                                <button v-on:click="checkTheForms()" v-if="!canGonder" type="submit" class="btn btn-outline-primary"style="width:100px">Kontrol</button>
                              </div>
                                <h2>{{ outputString }}</h2>
                    </div>
              </div>
          </section>
        </div>    
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
  </body>
</html>